
#item-header{
    display: flex; 
    margin: 20px auto 5px auto;     

}
#item-header>p{
    width:200px; 
    border: 1px solid #fff;
    text-align: center;
    background: #fc8507;
    color:#fff;
}
.container>div{
    margin-left: auto;
    margin-right: auto;
}
#item-list{
    background:#fff;
}
#item-list>div{
    display: flex;  
    margin-bottom: 20px; 
    border-bottom: 10px #f6f6f6 solid;
}
#item-list>div>p{
    width: 180px;
    margin-left:10px;
    margin-right: 10px;
    max-height: 100px;
}
.desc-box{ 
    overflow:scroll;
    width:170px; 
    margin-left:10px;
    margin-right: 10px;
}

#img>img{
    max-width:100px;
    max-height:100px;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#img {
    width:200px;
    height:100px; }
#price-row{
    display: flex;
} 
form {
    margin-left: auto;
    margin-right: auto;
}
form>input, form>select{
    width:150px;
}
#price-row{
    display: flex;
}
#price-row>input{
    width:70px;
}
#price-row>:last-child{
    margin-right:0;
    margin-left:auto;
}
#send, #reset {
    background:linear-gradient(0deg,#fc8507,#ffa218);
    border-radius: 8px;
    cursor:pointer;
    height:25px;
    width:150px;
    color:#fff;
    font-weight: 600;
}
#send:hover, #reset:hover{
    background: linear-gradient(180deg,#ffbc0b,#ff7400) !important;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
}
form>:last-child{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    min-height: 100px;
}

#addeditem{
    display: flex;
    background: white;
}

#addeditem>p{
    width: 180px; 
    max-height: 100px; 
    margin: 0px 10px; 
}
#addeditem>div{
    width: 180px; 
    max-height: 100px;  
    margin-left:20px;
}
#addeditem>p>input{
    width:180px; 
}
#addeditem>p>select{
    width:180px;
}

.errorentry {
    border: red 2px solid !important;
    border-radius: 4px;
}
.hidden{
    display:none !important;
}

p.editbtn::before{
    content:'\270e';
}
p.confirmbtn::before{
    content:'\2713';
}
p.cancelbtn::before{
    content:'\2715';
}
p.rmbtn::before{
    content:'\2421';
}

.controlbtns>p{
    padding-top:8px;
    padding-bottom: 8px;
    cursor:pointer;
    border:solid black 2px;
    margin: 2px 0px;
}

#img>input{
    width:180px;
    overflow: hidden;
}

#item-list>div>input{
    margin-left:10px;
    margin-right:10px;
    border: none;
    width:180px;
    max-width: 180px;
    overflow: wrap; 
    
}
#item-list>div>textarea {
    border: none;
    resize:none;
    width:180px;
    margin:0px 10px;

}
#item-list>div>.price{
    text-align: center;
}